body {
  margin: 0;
}

:root {
  --color1: #8fa7bf;
  --color2: #738699;
  --color3: #bbbf8f;
  --color4: #969973;
  --color5: #bfa89d;
  --color6: #806a60;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed Light';
  font-size: 5vw;
}

h3 {
  font-size: 2vw;
}

p {
  font-family: 'Open Sans Condensed Light Italic';
  color: var(--color1);
  font-size: 2.5vw;
}

main > section > article {
  width: 70%;
  max-width: 1200px;
  margin: auto;
  padding: 1rem 0;
  color: #fff;
}

main .flex-container {
  align-items: center;
  justify-content: space-between;
}

main li {
  font-family: 'Open Sans Condensed Light';
  font-size: 1.75vw;
}

main p {
  font-family: 'Open Sans Condensed Light';
  font-size: 1.75vw;
  color: #fff;
}

main h2.teaser-heading {
  font-family: 'Open Sans Condensed Light Italic';
  color: var(--color1);
  text-transform: none;
}

main section article section article {
  position: relative;
}

.container-0 {
  background-image: url(./components/Assets/images/layout/Bg-Tile-Maroon.png);
}

.container-1 {
  background-image: url(./components/Assets/images/layout/Bg-Tile-Blue-Dark.png);
}

.container-2 {
  background-image: url(./components/Assets/images/layout/Bg-Tile-Green.png);
}

.container-3 {
  background-image: url(./components/Assets/images/layout/Bg-Tile-Rosy.png);
}

#spacer-1 {
  background-image: url(./components/Assets/images/layout/Spacer-01.png);
}
#spacer-2 {
  background-image: url(./components/Assets/images/layout/Spacer-02.png);
}
#spacer-3 {
  background-image: url(./components/Assets/images/layout/Spacer-03.png);
}
#spacer-4 {
  background-image: url(./components/Assets/images/layout/Spacer-01.png);
}

main h2 {
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

main section img {
  max-width: 100%;
}

.spacer {
  height: 76px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

main .p-contribute-imgs {
  font-size: 2.35vw;
}

main .container-contribute-imgs {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 1rem;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  main section > article {
      width: 90%;
  }

  main section p.teaser-text {
      font-size: 5vw;
  }

  main section h2 {
      font-size: 8vw;
  }

  main .flex-col-2:first-of-type {
      text-align: center;
  }

  main section h3 {
      font-size: 4vw;
  }

  main section p {
      font-size: 2.5vw;
  }
  
  main section li {
      font-size: 2.5vw;
  }

  main section a {

      font-size: 2.5vw;
  }

  #calc-form div {
      flex-direction: column;
  }

  #calc-form div > * {
      width: 100%;
  }
}
