.slider {

    img {
        width: 100%;
    }

    h3 {
        width: 100%;
        color: #fff;
        border: solid 1px #000;
        position: absolute;
        font-family: 'Lobster';
        text-align: center;
    }
}