.newsletter {
    background-image: url('../../Assets/images/newsletterbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

    padding: 100px 0px;

    h2 {
        color: #fff;
        font-family: 'Lobster';
        font-size: 2rem;
    }
}