.productitem {
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
        
    }

    div:first-child {
        width: 100%;
        max-width: 240px;
        height: 140px;
        background-size: 300px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .num_comments {
        padding-top: 10px;
        text-align: center;
        color: #999;

        img {
            margin-left: 10px;
        }
    }

    h4 {
        text-transform: uppercase;

        + p {
            height: 90px;
        }
    }

}