.hero {
    border: solid 1px #000;
    background-image: url(../Assets/images/layout/Bg-Hero-Blue.png);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    padding: 1rem;
  
    img {
        width: 30rem;
    }

    article {
        text-align: right;
        color: #fff;
    }
}